body {
	padding-top:70px;
	background-image: url('../img/notebook.png');
}

#nav-menu.navbar-default .navbar-brand {
    color: rgba(5, 219, 252, 1);
}
#nav-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(10, 9, 9, 1);
    background: -webkit-linear-gradient(top, rgba(66, 65, 65, 0.89) 0%, rgba(10, 9, 9, 1) 100%);
    background: linear-gradient(to bottom, rgba(66, 65, 65, 0.89) 0%, rgba(10, 9, 9, 1) 100%);
    border-bottom-width: 0px;
}
#nav-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#nav-menu.navbar-default .navbar-nav>li>a:hover,
#nav-menu.navbar-default .navbar-nav>li>.navbar-btn:hover,
#nav-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(5, 219, 252, 1);
    background-color: rgba(10, 9, 9, 1);
}

#nav-menu.navbar-default .navbar-nav>li>.navbar-btn,
.register-btn {
	background-color: rgba(5, 219, 252, 1);
	color: white;
	border: none;
}

.register-btn[disabled]:hover {
	background-color: #53D5DA;
}

#nav-menu.navbar-default .navbar-nav>.active>a,
#nav-menu.navbar-default .navbar-nav>.active>a:hover,
#nav-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(5, 219, 252, 1);
}
#nav-menu.navbar-default .navbar-toggle {
    border-color: #05dbfc;
}
#nav-menu.navbar-default .navbar-toggle:hover,
#nav-menu.navbar-default .navbar-toggle:focus {
    background-color: #05dbfc;
}
#nav-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #05dbfc;
}
#nav-menu.navbar-default .navbar-toggle:hover .icon-bar,
#nav-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #0a0909;
}

.auth-div {
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	-webkit-box-shadow: 2px 7px 45px 2px rgba(0,0,0,0.19);
	-moz-box-shadow: 2px 7px 45px 2px rgba(0,0,0,0.19);
	box-shadow: 2px 7px 45px 2px rgba(0,0,0,0.19);	
}

hr {
	height:10px;
}

.socialLogo {
	font-size: 1.6em;
}



.btn {
	color: white;
	margin: 10px auto;
	-webkit-box-shadow: inset 0px 0px 60px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 60px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 60px 2px rgba(0,0,0,0.25);
}

.btn:hover {
	color:black;
	background-color: white;
}

.facebook-btn {
	background-color: #3b5998;
}

.twitter-btn {
	background-color: #1dcaff;
}

.linkedin-btn {
	background-color: #007bb6;
}

.google-btn {
	background-color: #d34836;
}

.github-btn {
	background-color: #999999;
}


.orText {
	font-size: 3em;
	margin: 40px auto;
}

.btn-choices {
	background-color: black;
}
.btn-choices:hover {
    color: rgba(5, 219, 252, 1);
    background-color: rgba(10, 9, 9, 1);
}

.form-auth {
	padding: 5px;
	margin: 0 auto;
}

h2 {
	margin-top:0;
	margin-bottom:30px;
}

h3 {
	margin-bottom: 20px;
}

.forgotPassword {
	margin-top:10px;
}


input.btn.btn-primary.login-btn,
input.btn.btn-primary.register-btn,
input.btn.btn-primary.forgot-btn {
	margin-left:0;
	width: 100%;
}

.page-header {
	border-bottom: 2px solid black;
}

div.panel-heading > h2 {
	font-size: 1.5em;
}

.panel-footer h3 {
	margin-bottom: 0;
	margin-top: 10px;
}

.badge-vote, .badge {
    background-color: rgba(10, 9, 9, 1);
    background: -webkit-linear-gradient(top, rgba(66, 65, 65, 0.89) 0%, rgba(10, 9, 9, 1) 100%);
    background: linear-gradient(to bottom, rgba(66, 65, 65, 0.89) 0%, rgba(10, 9, 9, 1) 100%);
}



.badge {
	color: rgba(5, 219, 252, 1);
}

.badge-vote {
	cursor: pointer;
	color: white;
}

.badge-vote:hover {
    color: rgba(5, 219, 252, 1);
    background-color: rgba(10, 9, 9, 1);
}

.btn-goTo {
    background-color: rgba(10, 9, 9, 1);
    background: -webkit-linear-gradient(top, rgba(66, 65, 65, 0.89) 0%, rgba(10, 9, 9, 1) 100%);
    background: linear-gradient(to bottom, rgba(66, 65, 65, 0.89) 0%, rgba(10, 9, 9, 1) 100%);
    border-bottom-width: 0px;
}

.btn-goTo:hover {
    color: rgba(5, 219, 252, 1);
    background-color: rgba(10, 9, 9, 1);
}