<form class="form-auth" ng-submit="login()">
	<h2>Log In</h2>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
	<input type="submit" value="Log in" class="btn btn-primary" />
</form>
<a class="btn btn-large btn-primary" href="auth/facebook">sign with facebook</a>
<a class="btn btn-large btn-info" href="auth/twitter">sign with twitter</a>
<a class="btn btn-large btn-danger" href="auth/google">sign with Google</a>
<a class="btn btn-large btn-success" href="auth/linkedin">sign with linkedIn</a>
<a class="btn btn-large btn-default" href="auth/github">sign with github</a>