<div class="col-xs-12 col-sm-6 col-sm-offset-3 auth-div">
	<form name="newPasswordForm" class="form-auth" ng-submit="newPassword()" required>
		<h3 class="text-center">Enter New Password</h3>
		<p class="text-warning">{{error_message}}</p>
		<p>Your username is : {{ getCurrentUser().username }}</p>
		<div class="form-group" ng-class="{ 'has-error': forgotForm.email.$touched && forgotForm.email.$invalid}">
			<label for="password" class="sr-only">Email</label>
			<input type="password" name="password" ng-model="user.password" class="form-control" ng-minlength="8" placeholder="New Password" required>
			<div ng-messages="newPasswordForm.password.$error" ng-if="newPasswordForm.password.$touched">
			    <p ng-message="minlength">Your password is too short.</p>
			    <p ng-message="required">Your password is required.</p>
			</div>							
		</div>
		<input type="submit" value="New Password" class="btn btn-primary forgot-btn"/>
	</form>
</div>