<div ng-controller="UserPollsController">
    <div class="col-xs-12 page-header">
      <h1 class="text-center">{{ getCurrentUser().username }} <br><small>Join: {{getCurrentUser().created_at | date }}</small></h1>
      <h4 class="text-center">My Polls: <span class="badge">{{ profilePolls.length }}</span></h4> 
    </div>
         
        <div class="col-xs-12">
            <div ng-show="errorMessageProfilePoll" class="alert alert-warning" role="alert">
        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        	{{ errorMessageProfilePoll }}</div>   
        	<div class="panel panel-default" ng-repeat="poll in profilePolls track by poll._id | orderBy:'-created_at'">
        	  <div class="panel-heading">
        		<button ng-if="poll.created_by ===  getCurrentUser().username" ng-click="delete(poll._id, $index)" type="button" class="close" aria-label="Delete"><span aria-hidden="true">&times;</span></button>			  	
        	    <h2 class="panel-title text-center">{{ poll.title }} <small>Created on: {{ poll.created_at | date }}</small></h2>
        	  </div>
        	  
        	  <div class="panel-body text-center">
        	   	<ul class="list-inline">
        	   		<li ng-repeat="choice in poll.choices"><h4 class="text-center">{{choice.choiceName }} <span class="badge">{{ choice.votes }}</span></h4> </li>
        	   	</ul>
        	  </div>
        	  <div class="panel-footer">
        	  	<div class="row">
        		  	<div class="col-xs-12">
        	  			<h3 class="text-center">Total Votes: {{ poll.totalVotes }}</h3>
        	  		</div>
        	  	</div>
        	 </div>
        	</div>
        </div>
</div>