<div class="ct-chart ct-perfect-fourth"></div>

<div ng-show="errorPollMessage" class="alert alert-danger" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{{ errorPollMessage }}</div>	

<a href="#/" class="btn btn-lg btn-success">Go back</a>
<h1>{{ poll.title }} <small>by: {{ poll.created_by }}</small></h1>
<div ng-repeat="choice in poll.choices">
<p>{{ choice.choiceName }} <small>{{ choice.votes }}</small></p>
<button class="btn" ng-if="poll.voteByUser.indexOf(getCurrentUser().username) === -1 && getCurrentUser()" ng-click="vote(poll._id, choice._id)">Vote</button>
</div>