<div class="col-xs-12 col-sm-offset-3 col-sm-6">
	<form ng-show="getCurrentUser()" name="newPollForm" class="form-auth" ng-class="{ 'has-success' : newPollForm.$submitted }" ng-submit="newPoll()" required>
		<h2 class="text-center">Create New Poll</h2>
		
		<div ng-show="errorPollMessage" class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ errorPollMessage }}</div>
		
		<div ng-show="successPollMessage && !newPollForm.$dirty" class="alert alert-success" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ successPollMessage }}</div>
		
		<div class="form-group" ng-class="{ 'has-error': !newPollForm.title.$pristine && newPollForm.title.$invalid }">
			<label for="title" class="sr-only">Title</label>		
			<input type="title" name="title" ng-minlength="4" ng-model="poll.title" placeholder="Poll Title" class="form-control" required>
			<div ng-messages="newPollForm.title.$error" ng-if="!newPollForm.title.$pristine">
			    <p ng-message="minlength">The title is too short.</p>
			    <p ng-message="required">The tile is required.</p>
			</div>			
		</div>
		<div class="form-group" ng-class="{ 'has-error': !newPollForm.title.$pristine && newPollForm.choiceName.$invalid }">
			<label for="choiceName" class="sr-only">Choice</label>
			<input type="choiceName" name="choiceName" ng-minlength="1" ng-model="poll.choiceName" placeholder="Choice" class="form-control" required>
			<div ng-messages="newPollForm.choiceName.$error" ng-if="!newPollForm.title.$pristine">
			    <p ng-message="minlength">Your choice name is too short.</p>
			    <p ng-message="required">choice name is required.</p>
			</div>				
		</div>
		<input type="submit" value="New Poll" class="btn btn-primary register-btn" ng-disabled="newPollForm.$invalid"/>
	</form>
</div>